<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper 
   PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="com.project.restaurant.bbs.BbsService">
	<resultMap type="com.project.restaurant.bbs.BbsArtcl" id="BbsArtcl">
		<result property="artcl_Seq"		column="artcl_seq" />
		<result property="title"			column="title" />
		<result property="content"			column="content" />
		<result property="writer"			column="writer" />
		<result property="reg_Date"			column="reg_date" />
		<result property="edit_Date"		column="edit_date" />
		<result property="hit"				column="hit" />
		<result property="img_Origin_Nm"	column="img_Origin_Nm" />
		<result property="img_File_Nm"		column="img_file_nm" />
		<result property="img_Path"			column="img_path" />
		<result property="type"				column="type" />
		<result property="add_Item1"		column="add_item1" />
		<result property="add_Item2"		column="add_item2" />
		<result property="add_Item3"		column="add_item3" />
		<result property="add_Item4"		column="add_item4" />
		<result property="add_Item5"		column="add_item5" />
	</resultMap>


	<!-- (사용자) 게시글 작성 - INSERT -->
	<insert id="artclRegist" parameterType="com.project.restaurant.bbs.BbsArtcl"
		useGeneratedKeys="true" keyProperty="artcl_Seq">
		INSERT INTO bbs_artcl (
			title, content, writer, reg_date, edit_date, hit, img_Origin_Nm, img_File_Nm, img_Path, type,
			add_Item1, add_Item2, add_Item3, add_Item4, add_Item5
		) VALUES (
			#{title}, #{content}, #{writer}, now(), now(), 0, #{img_Origin_Nm}, #{img_File_Nm}, #{img_Path}, #{type},
			#{add_Item1}, #{add_Item2}, #{add_Item3}, #{add_Item4}, #{add_Item5}
		)
	</insert>
	
	
	<!-- (사용자 & 관리자) 게시글 목록 - SELECT -->
	<select id="getArtclList" resultMap="BbsArtcl">
		SELECT	*
		FROM	bbs_artcl
		ORDER BY artcl_Seq DESC;
	</select>
	
	
	<!-- (사용자 & 관리자) 게시글 시퀀스 번호 확인 -->
	<select id="selectByArtclSeq" parameterType="int" resultMap="BbsArtcl">
		SELECT	*
		FROM	bbs_artcl
		WHERE	artcl_Seq = #{artcl_Seq}
	</select>
	
	
	<!-- (사용자 & 관리자) 게시글 수정 -->
	<update id="artclUpdate" parameterType="com.project.restaurant.bbs.BbsArtcl">
		UPDATE	bbs_artcl
		SET		title = #{title}, content = #{content}, edit_date = now(), hit = #{hit}
				img_Origin_Nm = #{img_Origin_Nm}, img_File_Nm = #{img_File_Nm}, img_Path = #{img_Path}, #{type},
				add_Item1 = #{add_Item1}, add_Item2 = #{add_Item2}, add_Item3 = #{add_Item3}, add_Item4 = #{add_Item4}, add_Item5 = #{add_Item5},
		WHERE	artcl_Seq = #{artcl_Seq}					
	</update>
</mapper>